* {
  padding: 0px ;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
/* NavBar */

.navbar-container {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: rgb(216, 59, 59);
}



.container {
  width: 100%;
  background: rgb(216, 59, 59) ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  text-decoration: none;
}

.container img {
  height: 50px;
  margin-top: 5px;
  margin-left: -30px;
}


.container h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 60px;
  font-size: 30px;
  color: white;
  margin-left: 10px;
  letter-spacing: 2px;
}


.navbar-container .form-container {
  width: 300px;
  float: right;
  margin-top: -45px;
  margin-right: 70px;
}

.navbar-container .form-container input {
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  padding: 5px;
}

.navbar-container .form-container input:focus{
  outline: none;
}

.poke-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 230px;
  margin-top: 50px;
  
  cursor: pointer;
}


.box-container {
  width: 300px;
  height: 200px;   
  box-shadow: 1px 1px 15px 1px #d4d4d4;
  margin-bottom: 50px;
  border-radius: 10px;
  margin-right: 110px;
  text-decoration: none;
  transition: 500ms;
}

.box-container:hover {
  box-shadow: 3px 3px 20px 3px rgb(175, 173, 173) ;

}


.grass-backgroud {
  background: linear-gradient(to bottom, #7AC74C, white);
}

.fire-backgroud {
  background: linear-gradient(to bottom, #EE8130, white);

}

.bug-backgroud {
  background: linear-gradient(to bottom, #A6B91A, white);
}

.dragon-backgroud {
  background: linear-gradient(to bottom, #474155, white);

}

.electric-backgroud {
 
  background: linear-gradient(to bottom, #F7D02C, white);

}

.fighting-backgroud{
 
  background: linear-gradient(to bottom, #C22E28, white);

}

.flying-backgroud {
  
  background: linear-gradient(to bottom, #A98FF3, white);

}

.ghost-backgroud{

  background: linear-gradient(to bottom, #735797, white);

}

.ground-backgroud {
  
  background: linear-gradient(to bottom, #E2BF65, white);

}

.ice-backgroud {
  background: linear-gradient(to bottom, #96D9D6, white);

}

.normal-backgroud {
  
  background: linear-gradient(to bottom, #A8A77A, white);

}

.poison-backgroud {
  
  background: linear-gradient(to bottom, #A33EA1, white);

}

.psychic-backgroud {
 
  background: linear-gradient(to bottom, #F95587, white);

}

.rock-backgroud {
  
  background: linear-gradient(to bottom, #B6A136, white);

}

.water-backgroud {
  
  background: linear-gradient(to bottom, #6390F0, white);

}

.img-container {
  height: 150px;
  /* background: #f6f6f6; */
  
}

.img-container img {
  width: 200px;
  margin-top: -30px;
  margin-left: 50px;
}

.name-container {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #454545;
  font-weight: bold;
}

.id-container {
  margin-top: -10px;
  font-size: 15px;
  font-weight: lighter;
}

/* PokeItem*/

.card-container {
  
  width: 70%;
  height: auto;
  margin: 0px auto;
  margin-top: -75px;
}

.img-card {
  float: left;
  width: 20%;
  height: 230px;
}

.img-card img {
  width: 300px;
  margin-top: 20px;
  margin-left: -60px;
}

.name-card {
  display: flex;
  flex-direction: column;
  
  width: 250px;
}

.name-card h3 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px; 
}

.name-card span {
  font-size: 30px;
  font-weight: 300;
}

.physical-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 125px;
  font-size: 23px;

}

.physical-card div {
  margin-bottom: 10px;
}

.physical-card span {
  font-weight: lighter;
}

.abilities-container {
  width: 30%;
  height: 175px;
 
  float: right;
  margin-top: -178px;
  font-size: 23px;
}

.flex-type{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.type-card {
  height: 32px;
  width: 65px;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  margin-right: 20px;  

}

.type-card p{
  color: rgb(87, 87, 87);
  font-size: 15px;
}


.flex-abilities {
  display: flex;
  flex-direction: column;
}

.abilitie-container span {
  font-weight: lighter;
  
}

.return-button {
  width: 80px;
  transition: 300ms;
  margin-left: 170px;
  margin-top: 25px;
  color: rgb(216, 59, 59);
}



.sk-chase {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  margin-top: 300px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #6390F0;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


.result-title{
  padding-top: 10px;
  text-align: center;
  font-size: 50px;
  letter-spacing: 1px;
}

@media( max-width: 1278px) {
  .navbar-container {
    width: 1200px;
    background: rgb(216, 59, 59);
  }

  .box-container{
    margin-right: 50px;
  }

  .poke-container {
    margin-left: 100px;

  }
}

/* @media( max-width: 1256px) {
  .navbar-container {
    width: 1255px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 110px;

  }

  .container img {
    margin-left: 60px;
  }
} */

@media( max-width: 1242px) {
  .navbar-container {
    width: 1145px;
    background: rgb(216, 59, 59);
  }

  .container img {
    margin-left: 60px;
  }

  .poke-container {
    margin-left: 90px;
  }
}

/* @media( max-width: 1220px) {
  .navbar-container {
    width: 1220px;
    background: rgb(216, 59, 59);
  }
  .container img {
    margin-left: 60px;
  }
} */



@media( max-width: 1199px) {
  .navbar-container {
    width: 1110px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 60px;

  }

  .container img {
    margin-left: -10px;
  }
}

/* @media( max-width: 1176px) {
  .navbar-container {
    width: 1180px;
    background: rgb(216, 59, 59);
  }

  .box-container{
    margin-right: 50px;
  }

  .container img {
    margin-left: -20px;
  }
} */

@media( max-width: 1166px) {
  
  .box-container{
    margin-right: 30px;
  }
  .container img {
    margin-left: -10px;
  }

  
}

@media( max-width: 1128px) {
 
  .container img {
    margin-left: -10px;
  }
  .poke-container {
    margin-left: 40px;

  }
}

@media( max-width: 1106px) {
  .navbar-container {
    width: 1090px;
    background: rgb(216, 59, 59);
  }
  .container img {
    margin-left: -10px;
  }

  

  
}

@media( max-width: 1099px) {
  
  .poke-container {
    margin-left: 60px;
  } 

  .box-container{
    margin-right: 20px;
  }
  
}


@media( max-width: 1066px) {
  .navbar-container {
    width: 1130px;
    background: rgb(216, 59, 59);
  }
  
  .box-container{
    margin-right: 20px;
  }

  
}

@media( max-width: 1033px) {
  
  .poke-container {
    width: 100%;
    margin-left: 70px;
  } 

  .container img {
    margin-left: -10px;
  }

  .img-card img {
    margin-left: -120px;
  }

  .return-button {
    margin-left: 70px;
  }
 
}

@media( max-width: 991px) {

  .container img {
    margin-left: -130px;
  }
  
}

@media( max-width: 989px) {

  .poke-container {
    margin-left: 70px;
  } 

  .box-container{
    margin-right: 20px;
  }
}


@media( max-width: 959px) {

  .poke-container {
    margin-left: 200px;
  } 

  .box-container{
    margin-right: 100px;
  }

}

@media( max-width: 900px) {

  .card-container{
    margin-left: 250px;
    justify-content: center;
  }

  .img-card img {
    margin-left: -150px;
  }
}

@media( max-width: 799px) {

  .navbar-container {
    width: 900px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 120px;
  } 

  .box-container{
    margin-right: 60px;
  }

  .navbar-container .form-container {  
    margin-right: 40px;
  }

  .container img {
    margin-left: 0px;
  }

  .card-container{
    margin-left: 140px;
    justify-content: center;
  }
}

@media( max-width: 767px) {
  .container img {
    margin-left:  -85px;
  }
}

@media( max-width: 747px) {
  .navbar-container {
    width: 867px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 120px;
  } 

  .box-container{
    margin-right: 30px;
  }

}

@media( max-width: 659px) {
  .navbar-container {
    width: 750px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 60px;
  } 

  .box-container{
    margin-right: 20px;
  }

}

@media( max-width: 639px) {
  .navbar-container {
    width: 680px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 30px;
  } 

  .box-container{
    margin-right: 15px;
  }

  .card-container{
    margin-left: 100px;
    justify-content: center;
  }

  .physical-card {
    margin-left: -20px;
  }

}

@media( max-width: 639px) {
  .navbar-container {
    width: 680px;
    background: rgb(216, 59, 59);
  }

  .poke-container {
    margin-left: 30px;
  } 

  .box-container{
    margin-right: 10px;
  }

}

@media( max-width: 619px) {
  .navbar-container {
    width: 650px;
    background: rgb(216, 59, 59);
  }

  .container img {
    margin-left: -60px;
  }

  .poke-container {
    width: 100%;
    margin-left: 20px;
  } 

  .box-container{
    margin-right: 5px;
  }

}

@media( max-width: 609px) {
  .navbar-container {
    width: 770px;
    background: rgb(216, 59, 59);
  }
  .poke-container {
    margin-left: 170px;
  } 
}

@media( max-width: 575px) {
  .navbar-container {
    width: 750px;
    background: rgb(216, 59, 59);
  }
  
  .container {
    height: 130px;
  }
  .container img {
    margin-left: 287px;
  }
  .navbar-container .form-container {
    justify-content: center;
    margin-top: -60px;
    margin-right: 187px;
  }

  .poke-container {  
    margin-left: 250px;
  }

  .pagination {
    margin-left: 250px;
  }

  .card-container{
    margin-left: 160px;
    justify-content: center;
  }
}

@media( max-width: 507px) {

  .navbar-container {
    width: 700px;
    background: rgb(216, 59, 59);
  }

  .container img {
    margin-left: 233px;
  }

  .poke-container {  
    margin-left: 200px;
  }
  
  .pagination {
    margin-left: 200px;
  }
}

@media( max-width: 446px) {
  .img-card{
    margin-left: 190px;
    margin-top: -100px;
    
  }
  
}